@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
  }

/* NAVBAR */

.max-width {
	max-width: 1300px;
	padding: 0 40px;
	margin: auto;
}

.navbar {						/* cor de fundo da barra toda antes */
	padding: 30px 0;
	width: 100%;
	z-index: 999;
	position: fixed;
	font-family: "Ubuntu", sans-serif;
	transition: all ease 0.3s;
	background: #191919;
}

.navbar.sticky {				/* cor de fundo da barra toda depois */
	padding: 8px 0;
	background: #43d2d4;
}
  
.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {				/* POR */
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span {			/* LIO antes */
	color: #43d2d4;
	transition: all 0.3s ease;
}

.navbar.sticky .logo a span {	/* LIO depois */
	color: #101010;;
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}
  
.navbar .menu li a {			/* Home, About...antes */
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
  
.navbar .menu li a img {
	margin-bottom: -2px;
	width: 20px;
	height: 20px;
	transition: all ease 0.3s;
}
  
.navbar .menu li a img:hover {
	filter: opacity(0.5) drop-shadow(0 0 0 #43d2d4);
}

/* MENU SUBSCRIBE */

/* Efeito cor quando passa o mouse depois em SUBSCRIBE geral */
.subscribe:hover {
	transform: scale(1.1);
}

/* MENU geral */
ul.menu a {
	color: white;
}

/* Efeito cor quando passa o mouse em MENU geral */
ul.menu a:hover {
	color: #43d2d4;
}

/* Efeito cor quando passa o mouse em MENU geral */
.navbar.sticky ul.menu a:hover {
	color: #0b021b;
	font-weight: 600;
}

.topnav {
	overflow: hidden;
	color: #fff;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* SUBSCRIBE tela de cima */
.subscribe {          					
	background-color:#43d2d4;
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}

/* SUBSCRIBE tela de baixo */
.navbar.sticky .subscribe {
	background-color: #101010;
	color: #fff;
}

/* scroll-up */

.topnav {
	color: #ffff;
	font-size: 23px;
	cursor: pointer;
	display: none;
  }

.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 42px;
	background: #43d2d4;
	right: 30px;
	bottom: 30px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 999;
	font-size: 30px;
	border-radius: 7px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
  
.scroll-up-btn.show {
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}
  
/* HOME SECTION */

.home .max-width {
	max-width: 1300px;
	padding: 0 40px;
	margin: auto;
}

.home {									/* Carina...Iam front-end... */
	color: #fff;
	display: flex;
	background: #191919;
	background-attachment: fixed;
	height: 108.9vh;
	min-height: 500px;
	font-family: "Ubuntu" sans-serif;
  }
  
  .home .max-width {
	width: 100%;
	display: flex;
  }

  .home .content {
	font-family: "Ubuntu", sans-serif;
  }

  .home .content .text-1 {	/* Hello, my name is */
	color: #43d2d4;
	font-size: 27px;
  }

  .home .content .text-2 {	/* Carina */	
	font-size: 65px;
	font-weight: 600;
	margin-left: -3px;
  }

  .home .text-2 span {		/* Prates */	
	color: #43d2d4;
	font-weight: 600;
  }

  .home .content .text-3 {	/* I'am a Front-end Developer. */
	font-size: 40px;
	margin: 5px 0;
  }

  .newslatter form {		/* Enter Your Email */
	padding-left: 100px;
	margin-top: 105px;
	width: 400px;
	max-width: 100%;
	position: relative;
}

.newslatter form .mail {	/* Enter Your Email */
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 3px solid #43d2d4;
	outline: none;
	border-radius: 30px;
}

.newslatter form .submit { 		/* Lets Start */ 
	display: inline-block;
	background: #43d2d4;
	color: #101010;
	font-size: 15px;
	padding: 12px 20px;
	border-radius: 30px;
	border: 3px solid #43d2d4;
	transition: all ease 0.3s;
	font-weight: 600;

	position: relative;
	bottom: 48.5px;
	left: 189px;
  }
  .newslatter form .submit:hover {
	color: #fff;
	background: #191919;
	border: 3px solid #43d2d4;
  }
  
/* About Section */

.about .max-width {
	max-width: 1300px;
	padding: 110px 40px;
	margin: auto;
}

.about {
	background: #0b021b;
	font-family: "Poppins", sans-serif;
  }
  
  .about .about-content, .services .serv-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
  }

  .about .about-content .right {
	width: 55%;
	padding-bottom: 40px;
  }
  
  .about .about-content .left img {		/* Foto */ 
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 100%;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
  }
    
  .about .about-content .right h2 {		/* About Me */ 
	color: #43d2d4;
    font-size: 55px;
    text-transform: capitalize;
	font-weight: 600;
  }
  
  .about .about-content .right .text {	/* Developer & Designer */ 
	color: #fff;
	font-size: 24px;
	font-weight: 600;
  }

  .about .about-content .right p {		/* I am a front-end web developer... */
	color: #fff;
	font-size: 16px;
	text-align: justify;
	padding: 14px 40px 0px 0px;
  } 
  
  .about .about-content .right a { 		/* Download CV */ 
	display: inline-block;
	background: #43d2d4;
	color: #101010;
	font-size: 16px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 30px;
	border: 2px solid #43d2d4;
	transition: all ease 0.3s;
	font-weight: 600;
  }
  .about .about-content .right a:hover {
	color: #fff;
	background: none;
  }
  
section .title {
	color: #fff;
	position: relative;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 40px;
	font-weight: 500;
	margin-left: 60px;
}

section .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #43d2d4;
	transform: translateX(-50%);
}

section .title::after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	font-size: 20px;
	padding: 0 5px;
	background: #fff;
	transform: translateX(-50%);
}
  
.about .about-content,
.services .serv-content,
.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* Services */

.service .max-width {
	max-width: 5500px;
	padding: 40px;
	margin: auto;
	background: #101010;
}

button {
	background-color:#43d2d4;
	color: #fff;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover {
	background-color: transparent;
	border: 2px solid #43d2d4;
	cursor: pointer;
}

.title h2 {				/* Services */
	color: #fff;
	font-size: 48px;
	width: 1130px;
	margin: 10px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #43d2d4;
}

h5 {
	color: #fff;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: #92d6d7;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button {
	background-color:#43d2d4;
	color: #191919;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.card .button:hover {
	background-color: transparent;
	color: #fff;
	border: 2px solid #43d2d4;
	cursor: pointer;
}
/* Contact */

.contact .max-width {
	max-width: 5500px;
	background: #101010;
}

.contact-me {
	background: #191919;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 30px;
	padding: 40px;
}

.contact-me p {						/* Let Me Get You A Beautiful Website. */
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two {			/* Botão Hire Me ANTES */
	background-color:#43d2d4;
	color: #191919;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

.contact-me .button-two:hover {		/* Botão Hire Me DEPOIS */
	background-color: transparent;
	color: #fff;
	border: 2px solid #43d2d4;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 250px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p {						/* For more info... */
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social {						/* Github e Linkedin */
	display: flex;
}

.social a {						
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #101010;
	border-radius: 50%;
	margin: 22px 10px;
	color: #43d2d4;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .3s;
}

.end {							/* © Carina Prates */
	position: absolute;
	color:#fff;
	bottom: 1px;
	font-size: 14px; 
}